<nav class="d-flex flex-row">
    <ul class="list-inline d-flex border border-primary rounded-bottom mx-2 h-2">
        <li class="list-inline-item flex-center m-1" title="Reload">
            <button class="btn btn-link" onclick="location.reload()">
                <i class="bi bi-arrow-clockwise"></i>
            </button>
        </li>
        <li class="list-inline-item flex-center m-1" title="Home">
            <a href="/" class="btn btn-link">
                <i class="bi bi-house"></i>
            </a>
        </li>
        <li class="list-inline-item flex-center m-1" title="Open Directory">
            <div class="dropdown">
                <button class="btn btn-link dropdown-toggle no-arrow" id="openDir" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-slash-lg"></i>
                </button>
                <div class="dropdown-menu p-2 dirSearch" aria-labelledby="openDir">
                    <form method="GET" class="d-flex flex-row flex-center">
                        <input type="text" name="dir" class="form-control form-control-sm" placeholder="Enter directory or file path">
                        <button type="submit" class="btn btn-sm btn-primary">
                            GO
                        </button>
                    </form>
                </div>
            </div>
        </li>
        <li class="list-inline-item flex-center m-1" title="Open folder in explorer">
            <a href="<%= helpers.createLink(dir, true) %>" class="btn btn-link">
                <i class="bi bi-folder2-open"></i>
            </a>
        </li>
        <% if (contents){ %>
        <li class="list-inline-item flex-center m-1" title="Create folder">
            <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#createDirectory">
                <i class="bi bi-folder-plus"></i>
            </button>
        </li>
        <li class="list-inline-item flex-center m-1" title="Delete folder">
            <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#removeDirectory">
                <i class="bi bi-folder-minus"></i>
            </button>
        </li>
        <% } %> 
    </ul>

    <ul class="list-inline d-flex border border-primary rounded-bottom mx-2 h-2">
        <li class="list-inline-item flex-center m-1" title="Settings">
            <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#settingsModal">
                <i class="bi bi-gear"></i>
            </button>
        </li>
    </ul>

    <ul class="list-inline d-flex border border-primary rounded-bottom mx-2 h-2">
        <li class="list-inline-item flex-center m-1" title="">
            <button class="btn btn-link">
                <i class="bi bi-hurricane"></i>
            </button>
        </li>
    </ul>
</nav>