.flex-center {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.mainContainer {
    height: 100vh;
    min-height:100vh;
    max-height:100vh;
}

.list-inline {
    width: max-content;
    margin-bottom: 0.25rem
}

.h-2 {
    height: 3rem!important;
}

.contentContainer {
    height: calc(100vh - (3rem + 0.5rem) - 1rem);
}

.scroll-y {
    overflow-y: scroll;
}

.h-max-content {
    height:max-content;
}

.contentName {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    position: absolute;
    bottom:0;
    left:0;
    right:0;

}

.content-box {
    height: 150px
}

.contentIconLg,
.contentIconSm {
    width: max-content;
    height:max-content;
}

.contentIconLg > i {
    font-size:3rem;
}

.contentIconSm > i {
    font-size:1rem;
}

.contentIconLg > span,
.contentIconSm > span {
    left:0;
    bottom:10px;
    z-index:10;
    background-color: var(--bs-light);
    padding: 0 5px;
}

.contentIconSm > span {
    bottom: -1px;
    font-size: 0.5rem;
    padding:0 3px;
    right: 5px;
    left:initial;
}

tr {
    cursor: pointer;
}

.dropdown-toggle.no-arrow::after {
    content: none;
}

.dirSearch {
    width:25vw;
}

@media only screen and (max-width: 768px){
    .dirSearch {
        width:50vw;
    }
}
@media only screen and (max-width: 480px){
    .dirSearch {
        width:75vw;
    }
}